<div class="grid mask">
    <figure>
        <span class="plugin_picture align-center">
            {% if instance.image_new %}
                <img src="{{instance.image_new.url}}" alt="">
            {% elif instance.image %}
                <img src="{{instance.image.url}}" alt="">
            {% endif %}
        </span>
    <figcaption>
        <h5>{{instance.caption}}</h5>
        <a data-toggle="modal" class="btn btn-default" href="{{instance.link}}" target="_blank">Visit</a>
    </figcaption>
    </figure>
</div>